.leftGrid {
    height: 100%;
}

.protobotLogo {
    margin-top: 50px;
    margin-left: 30px;
    font-weight: bold;
    color: #EEEEEE;
    font-size: 23px;
}

.sessionBox {
    margin-top: 50px;
    margin-left: 30px;
    /* font-weight: bold; */
    color: #EEEEEE;
    font-size: 19px;
}

.uIdBox {
    margin-top: 50px;
    margin-left: 30px;
    font-weight: bold;
    color: #EEEEEE;
    font-size: 15px;
}


.leftInsBox {
    vertical-align: middle;
    margin-left: 20%;
    margin-top: 150px;
    /* background-color: #434866; */
    height: 40%;
    width: 80%;
}

.leftInfoBox {
    margin-top: 50px;
    margin-left: 10%;
    bottom: 50px;
    /* background-color: #434866; */
    height: 20%;
    width: 80%;
}

.leftInsBoxText {
    font-size: 25px;
}
