@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

div {
    display: block;
}

.messageSection {
    margin-bottom: 25px;
    display: flex;
    align-items: flex-end;
}

.messageSectionUser {
    justify-content: flex-end;
}

.messageSectionUser img {
    align-self: flex-start;
}

.messageSectionTime {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.messageSectionSystem {
    text-align: center;
    font-size: 13px;
    color: black;
    margin-top: 30px;
    margin-bottom: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.messageSectionBody {
    padding: 10px 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.messageSectionBot .messageSectionBody {
    background-color: #E8EAF6;
    margin-right: 5px;
}

.messageSectionUser .messageSectionBody {
    background-color: #F5F5F5;
    margin-left: 5px;
}

.messageSectionUser img {
    height: 33px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 10px;
}

.messageSectionBot img {
    height: 33px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 15px;
}

.messageSectionBody img {
    height: 22px;
    width: 50px;
    margin-right: 0px;
    margin-left: 0px;
}

.messageSectionCenter {
    display: flex;
    flex-direction: column;
}